include header

div(class='wrap')
  div(class='content')
    header(class='site-header')
      include site_header

    div(class='container')
      div(class='row')
       each val, index in goods
        div(class='col col-md-4')
         a(href="goods?id="+val['id'])
          h3(class='card-title text-center') #{val['name']}
          img(
              src='images/'+val['image']
              class='card-images'
            )


                    