div.site-nav.button-primary
    div.close-button-div
        button.button-primary-outlined.close-nav x
    h3.cart-header Goods
    div#category-list
    h3.cart-header Cart
    div#cart-nav
    div.text-right
        a(href='/order', target='_blank')
            button.button-primary-outlined Order

            